.d-flex{
    display: flex;
}

.row{
    justify-content: space-between;    
}

.col-4{
    border-style: dashed;
    border-color: rgb(89, 255, 0);
    height: 50px;
}

header{
    height: 50px;
    background-color: rgb(36, 45, 69);
}

.col-8{
    border-style: dashed;
    border-color: rgb(89, 255, 0);
    background-color: rgb(43, 10, 17);
}


.jumbotron .row{
    justify-content: center;
}

.jumbotron .col-8{
    height: 800px;
}

.row .column .d-flex{
    justify-content: center;
    border-style: dashed;
    border-color: rgb(89, 255, 0);
}

.column{
    flex-direction: column;
    justify-content: center;
}

.col-8{
    justify-content: center;
    flex-direction: column;
}

.col{
    border-style: dashed;
    border-color: rgb(89, 255, 0);
}

.col-6{
    border-style: dashed;
    border-color: rgb(89, 255, 0);
}

